# Dependencias de Node
node_modules/

# Archivos de compilación de Android (son grandes y se generan localmente)

# Opcional: si usas iOS (no lo usas)
ios/

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log